@use "vuetify/styles";

.wide-title {
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  line-height: 1.5em;
  color: rgb(var(--v-theme-on-primary-container));
  background-color: rgb(var(--v-theme-inverse-primary));
}

@font-face {
  font-family: "LINE_Seed_Bd";
  src: url("./fonts/LINESeedJP_TTF_Bd.ttf") format("truetype");
}

html {
  font-family: "LINE_Seed_Bd";
}

:root {
  --title-bar-height: 64px;
}
